<form action="/celebrities" method="POST">
    <label for="name">name</label>
    <input id="name" name="name" type="text">
    <label for="occupation">Occupation</label>
    <input id="occupation" name="occupation" type="text">
    <label for="phrase">Catch Phrase</label>
    <input id="phrase" name="phrase" type="text">
    <button>CREATE CELEBRITY</button>
</form>