<div class="main">
    <h1>Lab Mongoose Movies</h1>
    <p>Welcome to Lab Mongoose Movies</p>
    <br>
    <hr>
    <a href="/celebrities">See Celebrities</a>
    <a href="/movies">See Movies</a>
    <hr>
</div>