<form action="" method="POST">
    <label for="title">title</label>
    <input id="title" name="title" type="text">
    <label for="genre">genre</label>
    <input id="genre" name="genre" type="text">
    <label for="plot">Plot</label>
    <input id="plot" name="plot" type="text">
    <button>CREATE MOVIE</button>
</form>